:root {
    --ghostWhite: rgb(243, 243, 250);
    --white: #fff;
    --red: rgb(255, 0, 0);
    --violet: rgb(211, 119, 211);
}

body {
    background-color: var(--ghostWhite);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: var(--white);
    background-color: var(--white);
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/*-------------------------------------------------------*/
/*                     Paragraphs
/*-------------------------------------------------------*/

p {
    word-spacing: 1px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 200%;
}

/*-------------------------------------------------------*/
/*                      Headings
/*-------------------------------------------------------*/
h1 {
    word-spacing: 2px;
    display: inline-block;
    letter-spacing: 2px;
    font-size: 300%;
    font-weight: 10;
    /*     text-transform: uppercase;
 */
}

/*-------------------------------------------------------*/
/*                      Header
/*-------------------------------------------------------*/

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
        url(/eleonore-kemmel.jpg);
    filter: brightness(70%);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav-items {
    width: 50vw;
    height: 10vh;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.nav-items li {
    border-bottom: 3px transparent solid;
    transition: 0.5s;
    font-size: 120%;
}

.nav-items li:hover {
    border-bottom: 3px violet solid;
    transition: 0.5s;
}

.first-container {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.first-container p {
}

/*-------------------------------------------------------*/
/*                      Skills
/*-------------------------------------------------------*/

.skills-container {
    background-color: var(--ghostWhite);
    color: black;
}

.skills-container h2,
.choice h3 {
    margin: 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;
}

.skills-container h2:after {
    content: " ";
    display: inline-block;
    width: 8%;
    margin-top: 4px;
    border-top: 2px violet solid;
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.introduction > div {
    width: 40vw;
}

.introduction-paragraph {
    text-align: center;
    width: 20vw;
}

.android-development {
    height: 100vh;
    background-color: blueviolet;
    background-attachment: fixed;
    color: var(--white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
        url(/mobile-phone2.jpg);
    background-size: cover;
}

.web-development {
    height: 100vh;
    background-color: blueviolet;
    background-attachment: fixed;
    color: var(--white);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
        url(/web-development-picture.jpg);
    background-size: cover;
    background-position: center;
}

.web-development h2:after {
    content: " ";
    display: inline-block;
    width: 24%;
    margin-top: 4px;
    border-top: 2px violet solid;
}

@media screen and (max-width: 300px) {
    div.introduction {
        flex-direction: column;
    }

    .nav-items {
        flex-direction: column;
    }
}
